body{
    background: rgb(rgb(192, 7, 7), green, blue);
    }
    h1{
        text-align: center;
        font-size: 30px;
        color: rgb(0, 0, 0);
    }
    p{
        text-align: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        }
        img{
            width: 250px;
            margin-left: 300px;
            }
            .logo{
             width: 200px;  
             margin-left: 500px; 
             margin-top: 15px;
             margin-bottom: 5px;
            }
            .listacabecalho{
                display: flex;
                margin: right 250px;;
                background-color: floralwhite;
                display: flex;
            }
            .item_lista_cabecalho{
                color: rgb(0, 0, 0);
                margin-left: 300px;
                list-style: none;
                text-transform: uppercase;
                font-size: 15px;
                padding: 2px;
            }