body{
    background: rgb(rgb(192, 7, 7), green, blue);
    }
    h1{
        text-align: center;
        font-size: 30px;
        color: rgb(0, 0, 0);
    }
    p{
        text-align: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        }
        img{
            width: 250px;
            margin-left: 300px;
            }
            .logo{
             width: 200px;  
             margin-left: 500px; 
            }
            .listacabecalho{
                display: flex;
                margin: right 250px;;
            }
            .item_lista_cabecalho{
                color: rgb(0, 0, 0);
                margin-left: 300px;
            }